<body id="body-font-color">
	</br><h1><small><center>Our Brands</h1></br>

	<table class="table table-bordered">
		<tbody>
			<tr>
				<td align="center" style="vertical-align: middle"><%= link_to image_tag("marshall-logo.jpg"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("j-propster.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("intech_logo.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("good-lite.gif"), "http://www.band-it-idex.com" %></td>
			</tr>
			<tr>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("burn.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("bandit.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("lightining.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("renora.gif"), "http://www.band-it-idex.com" %></td>
			</tr>
			<tr>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("negurosu.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("conway_logo.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("supportcomms_logo.gif"), "http://www.band-it-idex.com" %></td>
				<td align="center" style="vertical-align: middle;"><%= link_to image_tag("united-logo.gif"), "http://www.band-it-idex.com" %></td>
			</tr>
		</tbody>
	</table>
</body>